$base-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

/* Bootstrap variable customized */

// Typography
$font-family-sans-serif:  "Open Sans", "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
// Colors
$gray-base:              #0F0F0F !default; //#111 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 85.5%) !default; // #eee

$brand-primary:         #E77E24 !default; //#FE944A !default; //#FC8239 !default; //#13BA07 !default; //#FE825A !default; //#8dc63f !default;//#A26CFA !default; //#49A8DB; // #337ab7
$brand-success:         #38B44A !default;
$brand-info:            #A7748F !default;
$brand-warning:         #EFB73E !default;
$brand-danger:          #DF382C !default;
//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #fff !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;

//** Global textual link color.
$link-color:            #4F90D3 !default;//#04A8F4  !default; #4F90D3 !default; //#326E98 !default; //$brand-primary !default;
//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
$padding-base-vertical:     10px !default;
$padding-base-horizontal:   15px !default;

$padding-large-vertical:    18px !default;
$padding-large-horizontal:  27px !default;

$padding-small-vertical:    6px !default;
$padding-small-horizontal:  9px !default;

$padding-xs-vertical:       2px !default;
$padding-xs-horizontal:     6px !default;

// Navbar styles
$navbar-height: 60px !default;
$navbar-default-bg:    transparent !default; //#49A8DB !default;
$navbar-default-link-color:                $gray !default;
$navbar-default-link-hover-color:          darken($brand-primary, 4.5%); //#fff !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         darken($brand-primary, 4.5%); //#fff !default;
$navbar-default-link-active-bg:            transparent !default; //darken($navbar-default-bg, 4.5%) !default;
$navbar-default-link-disabled-color:       #e5e5e5 !default;
$navbar-default-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color !default;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%) !default;
$navbar-default-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-default-toggle-hover-bg:           #fff !default;
$navbar-default-toggle-icon-bar-bg:        #fff !default;
$navbar-default-toggle-border-color:       #fff !default;

//=== Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      lighten($gray-lighter, 15%) !default;
$navbar-inverse-bg:                         lighten($brand-primary, 5%) !default;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 5%) !default;

// Inverted navbar links
$navbar-inverse-link-color:                 lighten($gray-lighter, 15%) !default;
$navbar-inverse-link-hover-color:           #fff !default;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 5%) !default;
$navbar-inverse-link-disabled-color:        #ccc !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color !default;
$navbar-inverse-brand-hover-color:          #fff !default;
$navbar-inverse-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #333 !default;
$navbar-inverse-toggle-icon-bar-bg:         #fff !default;
$navbar-inverse-toggle-border-color:        #333 !default;

// table
$table-border-color: #efefef !default;

//tabs
$nav-tabs-border-color: #efefef !default;

$nav-tabs-active-link-hover-border-color: #efefef !default;

$nav-tabs-justified-link-border-color: #efefef !default;

// pagination
$pagination-border: #efefef !default;
$pagination-disabled-border: #efefef !default;

// list-group
$list-group-border: #efefef !default;

// panel
$panel-inner-border:          #efefef !default;
$panel-default-border:        #efefef !default;

// thumbnail
$thumbnail-border:            #efefef !default;

// forms
$input-border: #e5e5e5 !default;

// dropdown
$dropdown-fallback-border: #e5e5e5 !default;
$dropdown-caret-color: #000 !default;

// popover
$popover-fallback-border-color: #e5e5e5 !default;

// breadcrumb
$breadcrumb-color: #e5e5e5 !default;

// btn
$btn-default-border: #e5e5e5 !default;
$btn-default-color: #7B6975 !default;
